
/* .This is the CSS file for the index.html page. It defines the styles for the page. */
body {background-color: #ffffff; font-family:arial, verdana, geneva, helvetica, snas-serif; font-size: 12px; color: #000000;}

/* pseudo-classes like Link States define how links look in different situations */
a:link {color:#ffffff;text-decoration:none;}
a:active {color:#aad037;text-decoration:none;}
a:visited {color:#ffffff;text-decoration:none;}
a:hover {color:#aad037; text-decoration:none;}

table {border: 0; border-collapse:collapse; border-spacing: 0; padding: 0;}
td {padding: 0px;}




#headercontainer
{
position:relative;
display:block;
height:130x;
margin-bottom:30px;
}


#headerleft,headermiddle,headerright
{
position=relative;
float:left;
}


#headerleft
{
margin-left:50px;
height:130px;
width:293px;
}

#headermiddle
{
margin-left:60px;
height: 130px;
width: 270px;
}

#headerright
{
margin-left:30px;
height:130px;
width:180px;
}


td.socialicon{width:40px; height:40px; text-align:center; vertical-align:bottom;}
.contactheading {font-size:11px;color:#124278; font-weight:bold;}
.contactinfo {font-size:12px;}
td.contacticon {font-size:26px; width:26px; text-align:left; vertical-align:middle; color:#124278;}

.contacttext { font-size:12px; color:#124278;}




#mainmenu
{
    height: 30px;
    margin-left: 110px;
    border: 1px solid;
    border-color: #000000;
    padding: 0px;
    text-align: center;
    float: left;
    position: relative;
}

.mainmenuitem
{
    background-color: #274f26;
    position: relative;
    float: left;
}

td.mainmenuicon
{
    width: 34px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

td.mainmenutext
{
    height: 26px;
    text-align: left;
    vertical-align: middle;
    color: #142278;
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
}

